@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Colors */

/*
60% of #BADF93 - Primary
30% of #93BADF - Secondary 
10% of #DF93BA - Accent
*/

:root {

    /* Var(--primaryColor) !important;*/
    --primaryColor: #BADF93; 

        /* Var(--secondaryColor) !important;*/
        --secondaryColor: #255983; 

            /* Var(--accentColor) !important;*/
    --accentColor: #862858; 

     /* Var(--fontFamily) !important;*/
     --fontFamily: "Indie Flower", serif;

}