h1, h2 {
    color: Var(--primaryColor) !important;
}
.navbar {
background-color:white !important;
}


.blinn-footer-container {

    background-color:Var(--secondaryColor) !important;
    padding: 40px;
    color: white;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0px;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: Var(--accentColor) !important;
}

blockquote::before {
display: Block;
padding-left: 10px;
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: Var(--accentColor) !important;
content: "\201c";
}

blockquote cite {
    color: Var(--secondaryColor) !important;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockqoute cite::before {
    content: "\2014 \2009";
}