@import 'global.css';
@import 'main.css';

p {
    font-family: Var(--fontFamily) !important;
}
.blinn-fa-icon {
    font-size: 60px;
    color:aquamarine;
}

.blinn-fa-container {
    background-color: Var(--secondaryColor) !important;
    padding: 50px;
}