@import 'global.css';
@import 'main.css';

p {
    font-family: Var(--fontFamily) !important;
}
.blinn-fa-icon {
    font-size: 60px;
    color:aquamarine;
}


.blinn-fa-container a {
    color:white !important
}


.blinn-fa-container {
    background-color: Var(--secondaryColor) !important;
    padding: 50px;
}

.paragraph-one-img {
    position: relative;
    float: right;
    max-width: 350px;
    width: 100;
    height: auto;
    padding-left: 15px;
}

#custom-clip-path { 
    width: 100%;
    height: 280px;
    background-color: Var(--secondaryColor) !important;
    clip-path: polygon(0% 0%, 100% 0%, 100% 23%, 75% 23%, 84% 42%, 48% 24%, 0 24%);
    position: relative;
    margin-top: -5px;
}

.cropped {
    width: 250px;
    height: 250px;
    margin-top: 15px;
    border: 10px solid Var(--accentColor) !important;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
}