<footer>
  <!-- Begin footer row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <ul>
            <li>link one</li>
            <li>link two</li>
            <li>link three</li>
            <li>link four</li>
          </ul>
        </div>

        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <ul>
            <li>link one</li>
            <li>link two</li>
            <li>link three</li>
            <li>link four</li>
          </ul>
        </div>
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <ul>
            <li>link one</li>
            <li>link two</li>
            <li>link three</li>
            <li>link four</li>
          </ul>
        </div>
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <ul>
            <li>link one</li>
            <li>link two</li>
            <li>link three</li>
            <li>link four</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer row -->
</footer>
